In [1]:
# !rm -rf data
![ ! -d 'data' ] && git clone https://github.com/ai-powered-search/tmdb.git data
!echo 'cloned'
! cd data && git pull
!echo 'pulled'

! cd data && tar -xvf movies.tgz  && tar -xvf judgments.tgz
![ ! -f 'data/title_judgments_logged.json.gz' ] && curl --location http://softwaredoug.com/data/title_judgments_logged.json.gz --output data/title_judgments_logged.json.gz

cloned
Already up to date.
pulled
x tmdb.json
x ai_pow_search_judgments.txt

In [121]:
import pandas as pd

tmdb = pd.read_json('data/tmdb.json').transpose()
tmdb['overview'] = tmdb['overview'].fillna('')
tmdb = tmdb.reset_index().rename(columns={'index': 'tmdb_id'})
tmdb.loc[tmdb['tmdb_id'] == 7555, :]

,tmdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,tagline,title,video,vote_average,vote_count,cast,directors,mlensId,status_message,status_code
16534,7555,False,/5W0ljXTtLVuLF0z8GE7mNXgTC44.jpg,"{'id': 5039, 'name': 'Rambo Collection', 'post...",10000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.rambofilm.com/,7555,tt0462499,en,...,Heroes never die... They just reload.,Rambo,False,6.5,2212,"[{'cast_id': 12, 'character': 'John Rambo', 'c...","[{'credit_id': '52fe4483c3a36847f809a9af', 'de...",NaN,NaN,NaN

In [6]:
import pandas as pd


judgments = pd.read_json('data/title_judgments_logged.json.gz')
judgments = judgments.rename(columns={'docId': 'doc_id'})
judgments

           uid  qid   keywords  doc_id  grade                   features
0        17555    1      rambo    7555      4     [11.657399, 10.083591]
1        11370    1      rambo    1370      3      [9.456276, 13.265001]
2        11369    1      rambo    1369      3      [6.036743, 11.113943]
3       113258    1      rambo   13258      2  [0.0, 6.8695450000000005]
4        11368    1      rambo    1368      4           [0.0, 11.113943]
...        ...  ...        ...     ...    ...                        ...
1385   4037079   40  star wars   37079      0                 [0.0, 0.0]
1386  40126757   40  star wars  126757      0                 [0.0, 0.0]
1387   4039797   40  star wars   39797      0                 [0.0, 0.0]
1388   4018112   40  star wars   18112      0                 [0.0, 0.0]
1389   4043052   40  star wars   43052      0                 [0.0, 0.0]

[1390 rows x 6 columns]

In [7]:
judgments

           uid  qid   keywords  doc_id  grade                   features
0        17555    1      rambo    7555      4     [11.657399, 10.083591]
1        11370    1      rambo    1370      3      [9.456276, 13.265001]
2        11369    1      rambo    1369      3      [6.036743, 11.113943]
3       113258    1      rambo   13258      2  [0.0, 6.8695450000000005]
4        11368    1      rambo    1368      4           [0.0, 11.113943]
...        ...  ...        ...     ...    ...                        ...
1385   4037079   40  star wars   37079      0                 [0.0, 0.0]
1386  40126757   40  star wars  126757      0                 [0.0, 0.0]
1387   4039797   40  star wars   39797      0                 [0.0, 0.0]
1388   4018112   40  star wars   18112      0                 [0.0, 0.0]
1389   4043052   40  star wars   43052      0                 [0.0, 0.0]

[1390 rows x 6 columns]

In [8]:
import tensorflow_hub as hub

2023-01-16 09:46:06.154103: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [9]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4" #@param ["https://tfhub.dev/google/universal-sentence-encoder/4", "https://tfhub.dev/google/universal-sentence-encoder-large/5"]
model = hub.load(module_url)

2023-01-16 09:46:10.648983: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-01-16 09:46:10.649480: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-01-16 09:46:10.649504: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Metal device set to: AMD Radeon Pro 5300M

2023-01-16 09:46:13.936911: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

In [10]:
model(["Mary had a little lamb"])

2023-01-16 09:46:15.702323: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

<tf.Tensor: shape=(1, 512), dtype=float32, numpy=
array([[-0.07028453,  0.01059935,  0.08423027, -0.0328695 ,  0.02756505,
         0.00913632,  0.0239979 , -0.02628415,  0.03472483,  0.0650179 ,
         0.01685206, -0.02107863, -0.00316442,  0.01285157, -0.02940562,
        -0.06912368, -0.04474806, -0.02484763,  0.03213454, -0.08085862,
        -0.00281348, -0.010038  , -0.07211809, -0.06478165, -0.06929238,
        -0.07281128,  0.01756493,  0.01702456,  0.02819746,  0.01535106,
         0.03689979, -0.07985415, -0.05297632, -0.00374063,  0.03171751,
        -0.07539806,  0.00078359,  0.00415806,  0.03809249, -0.00017633,
         0.07057564, -0.0275983 , -0.01971644, -0.03484123, -0.07448607,
         0.02777741, -0.02331628,  0.00193907, -0.07192903, -0.02623207,
         0.01451908, -0.05442308, -0.0376509 , -0.04132596,  0.0610454 ,
         0.04082571,  0.02590919, -0.08042567,  0.01143595,  0.00482652,
        -0.07489359, -0.06260989, -0.08479565,  0.04441264,  0.01578628,
        -0.00985291,  0.05372024, -0.04791733,  0.06160655, -0.00879289,
        -0.01176171,  0.00255094,  0.02339998, -0.00631284, -0.03896451,
         0.00317498,  0.07873853,  0.00917927, -0.01431484,  0.03476535,
         0.00722633,  0.03358892, -0.03583043,  0.01908095,  0.03244688,
         0.04085319,  0.01433113, -0.04464833,  0.02930716, -0.06476165,
         0.0495757 , -0.0769752 ,  0.03396409, -0.04431077,  0.03015082,
         0.06146428, -0.06579555,  0.01184072,  0.05859494, -0.03632869,
         0.03467909, -0.07775538, -0.04803284, -0.07429364, -0.04172184,
         0.01513604,  0.0690733 , -0.01941027, -0.06564386,  0.04652314,
        -0.03487775, -0.0126638 , -0.08196508, -0.00958705, -0.01248845,
        -0.00147728, -0.05761772, -0.01903649,  0.0829528 , -0.05183665,
         0.02386958, -0.06781188,  0.01569054, -0.05385372, -0.01548056,
         0.05116312, -0.03700284, -0.02494152,  0.02062643,  0.01997846,
         0.00940937, -0.03470865, -0.03487059, -0.02674091, -0.07533246,
         0.06418717,  0.05180258,  0.04990584,  0.05820907, -0.00726941,
        -0.02801841, -0.06908964,  0.04041126, -0.02981521, -0.05820075,
         0.0312196 ,  0.03083221, -0.02122513, -0.00153852,  0.06331979,
         0.03349121,  0.03590872, -0.05228132,  0.07834812, -0.01136672,
        -0.06994135, -0.07607977, -0.06518742,  0.03844392, -0.04952188,
        -0.06177592,  0.00583923, -0.02580413, -0.04608037, -0.01260904,
        -0.05309982, -0.02375325, -0.04285992, -0.00400527,  0.072074  ,
        -0.00717949, -0.01388725,  0.00551622, -0.0194656 , -0.05487596,
        -0.04210236, -0.00453695,  0.07284681,  0.01260161,  0.0004103 ,
        -0.05680453, -0.05459667, -0.06387925, -0.02244888, -0.02148355,
         0.05178794, -0.05753905,  0.0390032 , -0.02080813,  0.06476142,
         0.05967759,  0.04353916,  0.00735264, -0.08309886, -0.00366253,
        -0.01218096,  0.06263058,  0.02892726,  0.08697437, -0.03325297,
        -0.08013747,  0.02761919, -0.07452258,  0.00466691, -0.00374026,
        -0.00404711, -0.04275937,  0.02781741, -0.0142272 ,  0.05916755,
         0.01206838,  0.06742661,  0.02369216,  0.00704178,  0.00655042,
        -0.05061878,  0.06262228, -0.04808797,  0.02904169, -0.0269441 ,
        -0.02620423,  0.03720103,  0.011282  , -0.01666893,  0.07198609,
        -0.04239513, -0.01602012, -0.03376727,  0.05264933, -0.04671515,
        -0.03761347,  0.05279609, -0.01507514,  0.07666458,  0.05679166,
        -0.06431268,  0.03468921,  0.02978741,  0.01549255,  0.02338208,
         0.01627301, -0.03360457,  0.03723089, -0.01684503, -0.02417825,
        -0.04778272,  0.03708667, -0.05464442,  0.0239978 , -0.03025081,
         0.0631199 ,  0.02280976, -0.06892444, -0.01816439,  0.02816882,
        -0.07585017, -0.02186345, -0.04141832,  0.0245538 ,  0.04861365,
        -0.02287267,  0.04740753, -0.06971283,  0.06199633, -0.00894091,
         0.05830213,  0.05627472, -0.00234015, -0.01190725,  0.01878023,
        -0.07388904,  0.06284771, -0.03125852, -0.00714443,  0.04341384,
        -0.06782423, -0.01053306,  0.04215845,  0.07379267, -0.02434698,
        -0.02718524,  0.05823161, -0.02640191,  0.06683409, -0.02715073,
        -0.06446628,  0.05954172,  0.04061525, -0.04719785,  0.04152549,
         0.05551335, -0.03363492,  0.07694609,  0.04959127,  0.01227134,
         0.04487602,  0.00740948,  0.04738147, -0.08311865,  0.06836606,
         0.05944034, -0.05234563, -0.01778905, -0.01057317, -0.0493791 ,
         0.01430031,  0.07314591,  0.04692205, -0.04774494, -0.00171543,
         0.05179647, -0.02872303,  0.0329591 , -0.04042586,  0.0441834 ,
         0.08065419, -0.04542877, -0.02941145, -0.04547539, -0.02338963,
         0.07379204,  0.01410903, -0.00269465,  0.07774133, -0.05269229,
         0.02457475,  0.04975233,  0.03724784, -0.03229249,  0.00221121,
        -0.04825544,  0.00460203, -0.02282667,  0.05279852, -0.0008253 ,
         0.04198868, -0.00025099, -0.02384762, -0.06641699, -0.00690425,
         0.03429317,  0.0252774 , -0.02077589, -0.01035261,  0.04192919,
        -0.0205728 ,  0.0298135 ,  0.00113939,  0.08280215, -0.03245523,
         0.05624739, -0.085168  ,  0.01363991,  0.07271115,  0.02452747,
        -0.06038228, -0.08105504, -0.00468811,  0.02940158,  0.02275014,
         0.03536841, -0.02333785,  0.06030896,  0.00222425,  0.02182254,
        -0.01356683,  0.03943286,  0.07117572,  0.02695803,  0.04204174,
        -0.02417154,  0.06283371,  0.00388341,  0.02635181,  0.001589  ,
        -0.00223986, -0.04950857,  0.03968144,  0.06154534, -0.01167123,
         0.00873655, -0.07954509,  0.00648764,  0.01792506,  0.01634957,
        -0.02285653, -0.0574894 ,  0.04702545,  0.02853717, -0.03230452,
         0.06558359,  0.01566943,  0.00872761, -0.04213844,  0.05755992,
        -0.00653075,  0.0869137 , -0.06667856, -0.07752773, -0.082637  ,
        -0.01302304,  0.05260564, -0.06436487, -0.06848078, -0.07889404,
         0.01054273,  0.08517949, -0.03600784,  0.03317764,  0.01285267,
         0.0297024 ,  0.00942186,  0.00164976,  0.03667554,  0.00612566,
         0.06226411, -0.01862961, -0.01994555, -0.07187196, -0.07407743,
         0.00998838, -0.03210147, -0.03310622,  0.00029934, -0.05545752,
         0.02303904,  0.01376927, -0.04674209,  0.01300104, -0.01249236,
        -0.07199154, -0.04833698,  0.01771318, -0.00802105, -0.0175435 ,
         0.01643949,  0.01074122,  0.05013289,  0.00432493, -0.04636874,
         0.01589061, -0.06049709, -0.03458406,  0.04345581, -0.04104607,
        -0.029119  ,  0.04124298, -0.05816204,  0.01746158,  0.06250075,
         0.044606  , -0.0008307 , -0.02401012, -0.07343234,  0.03529264,
        -0.04999991, -0.06906556, -0.00207716,  0.04717837,  0.03498607,
        -0.07164486,  0.02216521,  0.03040948, -0.01768268,  0.07058693,
         0.01652999, -0.03899087, -0.04760767, -0.05033876, -0.0083286 ,
        -0.01962213, -0.03509145,  0.00069318,  0.06485739, -0.08019138,
         0.04558006, -0.06908385,  0.02060414,  0.03792941, -0.04425903,
        -0.00438697,  0.03627487,  0.05295509,  0.07358824,  0.00504754,
         0.05961628, -0.01609877,  0.03698614, -0.07444562, -0.04764493,
        -0.00432677, -0.00818536, -0.06613347,  0.02665324, -0.01302794,
         0.03466202, -0.02954777,  0.02079007, -0.02935884,  0.04915844,
         0.05572345, -0.0635516 , -0.00399623,  0.02242572, -0.03516168,
         0.02758957, -0.06877181, -0.04739716,  0.04960661,  0.00245472,
        -0.06345522, -0.01913552]], dtype=float32)>

## Compute our lambdas as predictors - what best optimizes DCG

In [11]:
lambdas_per_query = judgments.copy()


lambdas_per_query['last_prediction'] = 0.0  # 'relevance score' f(title, overview) | DCG 
lambdas_per_query.sort_values(['qid', 'last_prediction'], ascending=[True, False], kind='stable')

,uid,qid,keywords,doc_id,grade,features,last_prediction
0,17555,1,rambo,7555,4,"[11.657399, 10.083591]",0.0
1,11370,1,rambo,1370,3,"[9.456276, 13.265001]",0.0
2,11369,1,rambo,1369,3,"[6.036743, 11.113943]",0.0
3,113258,1,rambo,13258,2,"[0.0, 6.8695450000000005]",0.0
4,11368,1,rambo,1368,4,"[0.0, 11.113943]",0.0
...,...,...,...,...,...,...,...
1385,4037079,40,star wars,37079,0,"[0.0, 0.0]",0.0
1386,40126757,40,star wars,126757,0,"[0.0, 0.0]",0.0
1387,4039797,40,star wars,39797,0,"[0.0, 0.0]",0.0
1388,4018112,40,star wars,18112,0,"[0.0, 0.0]",0.0
1389,4043052,40,star wars,43052,0,"[0.0, 0.0]",0.0

In [12]:
import numpy as np

# Sort by our prediction
lambdas_per_query.sort_values(['qid', 'last_prediction'], ascending=[True, False], kind='stable')
lambdas_per_query['display_rank'] = lambdas_per_query.groupby('qid').cumcount()

# Compute stats for display rank
lambdas_per_query['discount'] = 1 / np.log2(2 + lambdas_per_query['display_rank']) # How much weight for this position
lambdas_per_query['gain'] = (2**lambdas_per_query['grade'] - 1)   # the 'gain' of this rank basically 'grade'

lambdas_per_query[['qid', 'display_rank', 'discount', 'grade', 'gain', 'features']]

      qid  display_rank  discount  grade  gain                   features
0       1             0  1.000000      4    15     [11.657399, 10.083591]
1       1             1  0.630930      3     7      [9.456276, 13.265001]
2       1             2  0.500000      3     7      [6.036743, 11.113943]
3       1             3  0.430677      2     3  [0.0, 6.8695450000000005]
4       1             4  0.386853      4    15           [0.0, 11.113943]
...   ...           ...       ...    ...   ...                        ...
1385   40            25  0.210310      0     0                 [0.0, 0.0]
1386   40            26  0.208015      0     0                 [0.0, 0.0]
1387   40            27  0.205847      0     0                 [0.0, 0.0]
1388   40            28  0.203795      0     0                 [0.0, 0.0]
1389   40            29  0.201849      0     0                 [0.0, 0.0]

[1390 rows x 6 columns]

In [13]:
import numpy as np

# each group paired with each other group
swaps = lambdas_per_query.merge(lambdas_per_query, on='qid', how='outer')
# Why is the diff not? This is what my slides say
# (discount x * gain x) - (discount y * gain y) + 
# delta_rank_1 + delta_rank_4
swaps['dcg_delta'] = np.abs((swaps['discount_x'] - swaps['discount_y']) * (swaps['gain_x'] - swaps['gain_y']))
swaps[['qid', 'discount_x', 'discount_y', 'gain_x', 'gain_y', 'display_rank_x', 'display_rank_y', 'dcg_delta']]

,qid,discount_x,discount_y,gain_x,gain_y,display_rank_x,display_rank_y,dcg_delta
0,1,1.000000,1.000000,15,15,0,0,0.000000
1,1,1.000000,0.630930,15,7,0,1,2.952562
2,1,1.000000,0.500000,15,7,0,2,4.000000
3,1,1.000000,0.430677,15,3,0,3,6.831881
4,1,1.000000,0.386853,15,15,0,4,0.000000
...,...,...,...,...,...,...,...,...
49019,40,0.201849,0.210310,0,0,29,25,0.000000
49020,40,0.201849,0.208015,0,0,29,26,0.000000
49021,40,0.201849,0.205847,0,0,29,27,0.000000
49022,40,0.201849,0.203795,0,0,29,28,0.000000
49023,40,0.201849,0.201849,0,0,29,29,0.000000

In [14]:
swaps['rho'] = 1 / (1 + np.exp(swaps['last_prediction_x'] - swaps['last_prediction_y']))
swaps[['qid', 'display_rank_x', 'display_rank_y', 'dcg_delta', 'last_prediction_x', 'last_prediction_y', 'rho']]

,qid,display_rank_x,display_rank_y,dcg_delta,last_prediction_x,last_prediction_y,rho
0,1,0,0,0.000000,0.0,0.0,0.5
1,1,0,1,2.952562,0.0,0.0,0.5
2,1,0,2,4.000000,0.0,0.0,0.5
3,1,0,3,6.831881,0.0,0.0,0.5
4,1,0,4,0.000000,0.0,0.0,0.5
...,...,...,...,...,...,...,...
49019,40,29,25,0.000000,0.0,0.0,0.5
49020,40,29,26,0.000000,0.0,0.0,0.5
49021,40,29,27,0.000000,0.0,0.0,0.5
49022,40,29,28,0.000000,0.0,0.0,0.5
49023,40,29,29,0.000000,0.0,0.0,0.5

In [15]:
swaps["lambda"] = 0

x_better = (swaps["grade_x"] > swaps["grade_y"])
swaps.loc[x_better, "lambda"] = swaps.loc[x_better, "dcg_delta"] * swaps.loc[x_better, "rho"]

swaps[["qid", "display_rank_x", "display_rank_y", "dcg_delta",
       "last_prediction_x", "last_prediction_y", "rho", "lambda",]]

,qid,display_rank_x,display_rank_y,dcg_delta,last_prediction_x,last_prediction_y,rho,lambda
0,1,0,0,0.000000,0.0,0.0,0.5,0.000000
1,1,0,1,2.952562,0.0,0.0,0.5,1.476281
2,1,0,2,4.000000,0.0,0.0,0.5,2.000000
3,1,0,3,6.831881,0.0,0.0,0.5,3.415941
4,1,0,4,0.000000,0.0,0.0,0.5,0.000000
...,...,...,...,...,...,...,...,...
49019,40,29,25,0.000000,0.0,0.0,0.5,0.000000
49020,40,29,26,0.000000,0.0,0.0,0.5,0.000000
49021,40,29,27,0.000000,0.0,0.0,0.5,0.000000
49022,40,29,28,0.000000,0.0,0.0,0.5,0.000000
49023,40,29,29,0.000000,0.0,0.0,0.5,0.000000

In [16]:
# Better minus worse
lambdas_x = swaps.groupby(['qid', 'display_rank_x'])['lambda'].sum().rename('lambda')
lambdas_y = swaps.groupby(['qid', 'display_rank_y'])['lambda'].sum().rename('lambda')
lambdas = lambdas_x - lambdas_y
lambdas
lambdas_per_query = lambdas_per_query.merge(lambdas, left_on=['qid', 'display_rank'], right_on=['qid', 'display_rank_x'], how='left')
lambdas_per_query[['qid', 'doc_id', 'grade', 'features', 'lambda']]

      qid  doc_id  grade                   features      lambda
0       1    7555      4     [11.657399, 10.083591]  211.781688
1       1    1370      3      [9.456276, 13.265001]   46.938369
2       1    1369      3      [6.036743, 11.113943]   30.637615
3       1   13258      2  [0.0, 6.8695450000000005]    5.888732
4       1    1368      4           [0.0, 11.113943]   43.177578
...   ...     ...    ...                        ...         ...
1385   40   37079      0                 [0.0, 0.0]   -9.853045
1386   40  126757      0                 [0.0, 0.0]   -9.911575
1387   40   39797      0                 [0.0, 0.0]   -9.966853
1388   40   18112      0                 [0.0, 0.0]  -10.019174
1389   40   43052      0                 [0.0, 0.0]  -10.068796

[1390 rows x 5 columns]

## Create document embeddings

In [106]:
tmdb = tmdb.reset_index(drop=True)
tmdb

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,tagline,title,video,vote_average,vote_count,cast,directors,mlensId,status_message,status_code
0,False,/zjLR7DbWujKiG7VhtjQ4r3gsjou.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,43000,tt0055827,en,Le caporal épinglé,...,,The Elusive Corporal,False,5.9,10,"[{'cast_id': 3, 'character': 'Caporal', 'credi...","[{'credit_id': '52fe4626c3a36847f80ef68b', 'de...",NaN,NaN,NaN
1,False,None,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",,43002,tt0056195,en,Lonely Are the Brave,...,Life can never cage a man like this!,Lonely Are the Brave,False,7.5,60,"[{'cast_id': 1, 'character': 'John W. ""Jack"" B...","[{'credit_id': '52fe4626c3a36847f80ef733', 'de...",NaN,NaN,NaN
2,False,/bQzj8DnIghVqUSe5EsH4uTV3jQb.jpg,None,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,43004,tt0056196,en,Long Day's Journey Into Night,...,PRIDE...POWER...PASSION...PAIN!,Long Day's Journey Into Night,False,6.9,25,"[{'cast_id': 1, 'character': 'Mary Tyrone', 'c...","[{'credit_id': '52fe4626c3a36847f80ef791', 'de...",NaN,NaN,NaN
3,False,/gluooDaZ9PYOq4pUlKDCagRoBcp.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",,43006,tt0056267,en,My Geisha,...,,My Geisha,False,6.1,7,"[{'cast_id': 2, 'character': 'Lucy Dell / Yoko...","[{'credit_id': '52fe4626c3a36847f80ef7ed', 'de...",NaN,NaN,NaN
4,False,/mKeTNV8NzpbfmovXcouEIcercYU.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,43007,tt0056341,en,Period of Adjustment,...,The agonizing pause between the honeymoon and ...,Period of Adjustment,False,6.5,7,"[{'cast_id': 2, 'character': 'Ralph Bates', 'c...","[{'credit_id': '52fe4626c3a36847f80ef839', 'de...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65697,False,/lMbsU896qifmQxrGOvyqSPSFqDe.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,65485,tt0140603,it,La cena,...,,The Dinner,False,6.8,3,"[{'order': 0, 'id': 20234, 'cast_id': 2, 'cred...","[{'id': 31894, 'department': 'Directing', 'cre...",114685,NaN,NaN
65698,False,None,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",,76452,tt0069823,en,Una breve vacanza,...,,A Brief Vacation,False,5.0,3,"[{'order': 0, 'id': 83259, 'cast_id': 4, 'cred...","[{'id': 12329, 'department': 'Directing', 'cre...",69931,NaN,NaN
65699,False,/qfMXME2pjoRPY4mMl2CcGLE5DhM.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",,65513,tt0378661,en,Les Revenants,...,Why have the dead suddenly returned...,They Came Back,False,5.6,16,"[{'order': 0, 'id': 19888, 'cast_id': 1, 'cred...","[{'id': 17387, 'department': 'Directing', 'cre...",36462,NaN,NaN
65700,False,/8wdIT4VHoEoqu5On94dzZan5t9a.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,65521,tt1926313,en,Pyaar Ka Punchnama,...,,Pyaar Ka Punchnama,False,7.5,14,"[{'order': 0, 'id': 1164344, 'cast_id': 4, 'cr...","[{'id': 1158937, 'department': 'Directing', 'c...",103050,NaN,NaN
65701,False,/skJbCIlypazJ4lYtwmWQ53yVl1R.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}]",,65534,tt0043927,fr,La poison,...,,Poison,False,5.1,7,"[{'order': 0, 'id': 12748, 'cast_id': 2, 'cred...","[{'id': 148082, 'department': 'Directing', 'cr...",129516,NaN,NaN

In [122]:
import tensorflow as tf

def divide_chunks(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

# Seriously Tensorflow, I need to do this batching myself?
text = tf.convert_to_tensor(tmdb['overview'].to_list())
batch_size = 1000
embeddings = tf.zeros([0, 512], dtype=tf.float32)
for idx, batch in enumerate(divide_chunks(text, batch_size)):
    predictions = model.predict(batch)
    embeddings = tf.concat([embeddings, predictions['outputs']], axis=0)
    
overview_use = embeddings.numpy()

In [124]:
# Map doc_id -> row to find the right array in overview vector space
doc_ids = judgments['doc_id'].unique()
doc_ids

array([ 7555,  1370,  1369, ..., 39797, 18112, 43052])

In [125]:
tmdb[tmdb['id'].isin(doc_ids)]

,tmdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,tagline,title,video,vote_average,vote_count,cast,directors,mlensId,status_message,status_code
5,43008,False,/nbUnIkRlBmUEnI3Y9shgirevAvc.jpg,None,0,"[{'id': 37, 'name': 'Western'}]",,43008,tt0052876,en,...,From The Prize Novel -- A Picture Of Thunderin...,The Hanging Tree,False,6.5,42,"[{'cast_id': 2, 'character': 'Dr. Joseph 'Doc'...","[{'credit_id': '52fe4626c3a36847f80ef88b', 'de...",NaN,NaN,NaN
35,43052,False,None,None,0,"[{'id': 18, 'name': 'Drama'}]",,43052,tt0803080,en,...,,Säg att du älskar mig,False,4.6,4,[],"[{'credit_id': '54c2afa092514124ed004162', 'de...",NaN,NaN,NaN
103,43189,False,/wWO1oD6O1ytXKNQEBOsjRGyscvu.jpg,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,43189,tt0044903,en,...,Inspired by the true story of bathing beauties!,Million Dollar Mermaid,False,6.0,8,"[{'cast_id': 1, 'character': 'Annette Kellerma...","[{'credit_id': '52fe4633c3a36847f80f2311', 'de...",NaN,NaN,NaN
164,43317,False,/umEJ78FUDu6DyOOYAgLjT48Hynk.jpg,None,1500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",,43317,tt0047840,en,...,,Artists and Models,False,6.9,50,"[{'cast_id': 2, 'character': 'Rick Todd', 'cre...","[{'credit_id': '52fe463dc3a36847f80f3f43', 'de...",NaN,NaN,NaN
304,43522,False,/cuMRzYkcv8LgpGf2Oi0kHYY5HCX.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,43522,tt0034778,en,...,"The grandest story of the Naughty ""Nineties"" b...",Gentleman Jim,False,7.0,25,"[{'cast_id': 2, 'character': 'James J. Corbett...","[{'credit_id': '52fe464ec3a36847f80f7cdd', 'de...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65469,82866,False,/tZvPiAZPHWvE6yjd8RI0b3CWWnm.jpg,None,0,"[{'id': 99, 'name': 'Documentary'}]",,82866,tt0996396,en,...,,Fog City Mavericks,False,0.0,0,"[{'order': 0, 'id': 1, 'cast_id': 1, 'credit_i...","[{'id': 223388, 'department': 'Directing', 'cr...",101133,NaN,NaN
65523,28323,False,/kcMcA9EbWfUtyHLMq6MdIHAWSaL.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",,28323,tt0073138,en,...,,I Will Fight No More Forever,False,3.3,3,"[{'order': 0, 'id': 6577, 'cast_id': 1, 'credi...","[{'id': 35525, 'department': 'Directing', 'cre...",107638,NaN,NaN
65595,195617,False,None,None,0,[],,195617,tt0021004,en,...,,It's a Bird,False,8.0,2,"[{'order': 0, 'id': 1067965, 'cast_id': 2, 'cr...","[{'id': 1067966, 'department': 'Directing', 'c...",125956,NaN,NaN
65674,130745,False,None,None,0,"[{'id': 99, 'name': 'Documentary'}]",,130745,tt2234419,en,...,,16 Acres,False,6.5,2,[],"[{'id': 126162, 'department': 'Directing', 'cr...",110582,NaN,NaN
65698,76452,False,None,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",,76452,tt0069823,en,...,,A Brief Vacation,False,5.0,3,"[{'order': 0, 'id': 83259, 'cast_id': 4, 'cred...","[{'id': 12329, 'department': 'Directing', 'cre...",69931,NaN,NaN

## Create query embeddings

Create an embedding for each query in the document space

In [149]:
def get_embedding(tmdb_id):
    return overview_use[tmdb[tmdb['tmdb_id'] == tmdb_id].index]


# Create weighted query embeddings
judgments['weight'] = judgments['grade'] / 4
query_embeddings = {}
for query in lambdas_per_query['keywords'].unique():
    query_judgments = judgments[lambdas_per_query['keywords'] == query]
    for query_judgment in query_judgments.to_dict(orient='records'):
        tmdb_id = query_judgment['doc_id']
        weight = query_judgment['weight']
        doc_embedding = get_embedding(tmdb_id)[0]

        try:
            query_embeddings[query] += (weight * doc_embedding)
        except KeyError:
            query_embeddings[query] = weight * doc_embedding 
    query_embeddings[query] /= len(query_judgments)  # Not sure this matters
    query_embeddings[query] /= np.linalg.norm(query_embeddings[query])

In [151]:
query_embeddings['rambo']

array([ 0.02972494, -0.0147243 , -0.01402866, -0.03362493,  0.01442135,
        0.04483698,  0.04726744,  0.00158264,  0.05375212, -0.0581939 ,
        0.10194699,  0.06162515, -0.04879327,  0.02698465,  0.07649798,
       -0.08917999, -0.05672573,  0.03303665, -0.02343745,  0.03620373,
       -0.05647273, -0.03655627,  0.04265799, -0.01830724,  0.03702894,
        0.05074221, -0.02568416, -0.06261772, -0.00850914,  0.04832797,
        0.04672624, -0.04242633, -0.00931135, -0.0608523 , -0.01512212,
        0.09809384,  0.03624721, -0.00673144, -0.0223287 ,  0.01622309,
       -0.00770243, -0.06569903, -0.03214641, -0.06165315, -0.04767733,
        0.01726217,  0.03942685,  0.0200977 ,  0.04979463,  0.07223891,
       -0.0745049 , -0.00835147, -0.00082126, -0.00058608, -0.05878871,
       -0.0275895 , -0.08060712,  0.06870215,  0.06853117,  0.03632756,
        0.09723197,  0.09361825, -0.09854262, -0.01641996,  0.04028917,
       -0.01171924, -0.01762672, -0.04625538, -0.00267575,  0.03274674,
        0.04073182,  0.0616979 ,  0.02674982, -0.03984661, -0.05736427,
       -0.00990544,  0.02405122,  0.06026252, -0.04862444,  0.06828807,
       -0.02095894,  0.06256761,  0.0320915 ,  0.06603882,  0.00664809,
       -0.02711728, -0.00344885,  0.00086385, -0.06899743,  0.06653942,
       -0.03365764, -0.01955058, -0.0035736 , -0.02394198,  0.06140332,
        0.01285052,  0.01928909,  0.00443441,  0.10850163, -0.04530415,
       -0.01326476, -0.03312137, -0.00514939, -0.02128085, -0.01182703,
        0.03421154,  0.05372475, -0.02651048,  0.05064701, -0.00581161,
       -0.07678733, -0.08092263,  0.02331674,  0.0082491 , -0.03289576,
       -0.01200897, -0.0036275 , -0.03699222, -0.10318498,  0.02174861,
        0.01463555, -0.00345152,  0.00560996,  0.06290283,  0.05261927,
       -0.00109493,  0.08496217, -0.0431248 , -0.02517837,  0.04029855,
        0.04546361, -0.04606386,  0.0114097 , -0.01434044,  0.0496242 ,
       -0.04055076,  0.00606784,  0.02414889, -0.03930441, -0.02250782,
        0.10364643,  0.08672138, -0.03268587,  0.06985483, -0.00202543,
       -0.01831247, -0.04564616,  0.03468122,  0.01887497,  0.01762856,
       -0.03721125, -0.04058365,  0.05301644, -0.07324784,  0.04364434,
       -0.0335133 , -0.02898643,  0.06726904,  0.00711462,  0.10715262,
        0.00567502,  0.05476004, -0.02837911, -0.04937757, -0.00085847,
        0.07322647,  0.0523126 , -0.01170296, -0.04251939, -0.06319503,
        0.03317278, -0.06047878,  0.04709252,  0.04232867,  0.00321274,
       -0.04187431,  0.04742425, -0.06922514, -0.09592854,  0.05303663,
        0.00451324,  0.00160017,  0.05602541,  0.02520361,  0.00481535,
       -0.00804491, -0.01995069,  0.01861222,  0.01872887, -0.0543123 ,
       -0.05971473,  0.03296063, -0.00081418, -0.0043165 , -0.0092001 ,
       -0.00546344,  0.05802324,  0.01440074, -0.04331979, -0.0138768 ,
       -0.03828342, -0.07056994,  0.05140288, -0.05374965,  0.05528219,
        0.03597028,  0.0058366 , -0.06756267, -0.03640476,  0.01654061,
       -0.00548778,  0.0055969 ,  0.06452313, -0.05378686, -0.06333671,
       -0.01744764, -0.07050328,  0.02014885,  0.07887658, -0.01257094,
        0.04922059,  0.02866905, -0.0012151 ,  0.02028873, -0.02508984,
       -0.0018907 ,  0.03811969, -0.01934365,  0.06509624, -0.01406528,
       -0.01625321, -0.03425363,  0.000156  , -0.09980176, -0.03901644,
        0.03994306, -0.0039981 , -0.05670877, -0.02777972,  0.00755144,
       -0.00904669, -0.03551008,  0.02647354, -0.03825375,  0.03339659,
        0.03958162,  0.00760139, -0.06826543,  0.02308113, -0.00095275,
        0.05919501, -0.03949033,  0.09690727, -0.00619168,  0.04461009,
       -0.02314734, -0.05904394,  0.09788165,  0.03313767,  0.04893987,
        0.04027463,  0.02687482, -0.04764847, -0.05361015, -0.03263823,
        0.00155083, -0.00064078, -0.04175905, -0.06980466, -0.03251616,
       -0.05760708,  0.00583075,  0.02168564, -0.07370337,  0.01323287,
       -0.03748947,  0.01489992, -0.05483907,  0.08776719, -0.00592533,
       -0.01558122, -0.02688945, -0.03648877,  0.03176784, -0.01143973,
       -0.05920735,  0.02252211,  0.03095558,  0.0685735 ,  0.05980966,
       -0.00089998,  0.03518121,  0.08116361,  0.00264467,  0.03840378,
        0.0019492 , -0.00251451,  0.07314305, -0.02430674, -0.10518575,
       -0.02458391,  0.03981567,  0.02911841,  0.04796879,  0.03364001,
       -0.00586731,  0.0574595 , -0.04792637, -0.0167533 ,  0.07624679,
       -0.03793445, -0.05169145, -0.00340092,  0.02197704,  0.00540015,
       -0.0451155 , -0.06204665,  0.05099551,  0.0113293 , -0.01875488,
        0.00858852, -0.00899695, -0.02069647, -0.03086284,  0.00399513,
        0.04326953,  0.04101067,  0.08540385,  0.01964453, -0.00796232,
        0.00895855, -0.06715947,  0.03904168,  0.02787451, -0.03494522,
        0.05070781,  0.00404926, -0.04410132,  0.08010531, -0.04576206,
        0.07240114, -0.04301184,  0.00756797,  0.00953812,  0.07604385,
       -0.02341731, -0.00131606, -0.0018199 ,  0.03392706,  0.05171664,
       -0.01170019,  0.00687469,  0.05447245,  0.08023898,  0.0306588 ,
       -0.08053723, -0.11174227, -0.01522471,  0.00449926, -0.0122861 ,
        0.00263716, -0.02718879,  0.07879952, -0.0313945 , -0.05667883,
       -0.02382999,  0.07776832,  0.00264415,  0.04155474, -0.06878734,
        0.04806161,  0.04052216, -0.0219952 ,  0.06180042, -0.00803442,
       -0.03209221, -0.06159311, -0.00301147, -0.03850501, -0.10501502,
        0.00518701, -0.04174754,  0.04802861, -0.05428012,  0.02908997,
       -0.08564317, -0.00317351,  0.02201931,  0.03316353,  0.05760191,
       -0.02900798, -0.04402685,  0.03667968, -0.0585653 ,  0.02492711,
       -0.04215785, -0.06886175,  0.01571388,  0.03519432, -0.05560561,
        0.0121043 ,  0.00999137,  0.02221639, -0.01844736,  0.05264345,
       -0.03947452,  0.0818638 ,  0.04733401,  0.00606715, -0.02103723,
        0.00218765,  0.02427514,  0.0396506 , -0.0051315 ,  0.02532085,
       -0.01750458,  0.07061436, -0.0208967 , -0.01164383, -0.05928813,
        0.01736776,  0.02952959, -0.01777379, -0.02417638, -0.00793809,
        0.03299822, -0.05429748, -0.04317801, -0.06794896, -0.03536746,
       -0.0575784 ,  0.03051034, -0.00258106,  0.07687011,  0.05246656,
        0.0436765 ,  0.01940096,  0.03665417,  0.00361895,  0.0292358 ,
        0.00115001, -0.06118884,  0.06286217,  0.0255835 ,  0.0092591 ,
        0.00170707, -0.01053704,  0.04671031, -0.02357287,  0.03034957,
        0.03905682, -0.01482317, -0.01205766,  0.04763243,  0.00090548,
       -0.05693239, -0.01857561,  0.06971686, -0.08891191, -0.02861851,
       -0.0149576 ,  0.02090467, -0.00499051,  0.03897854, -0.06243781,
        0.0488315 ,  0.01984479,  0.04968196,  0.00871142,  0.01768605,
       -0.05074943, -0.00987491,  0.053096  ,  0.04967622, -0.02813164,
       -0.02442786,  0.01752976,  0.06063326, -0.01140236, -0.03488822,
        0.01085473,  0.02924408, -0.00223789, -0.07045598, -0.04846367,
        0.00311714,  0.00543896,  0.09432343,  0.00606456, -0.01920211,
        0.01994974,  0.0003932 , -0.05839157,  0.08505643, -0.01579016,
       -0.02203096,  0.01991676, -0.01074507,  0.06461934, -0.03989704,
       -0.04511902, -0.03409437,  0.03890351, -0.02541282,  0.01341708,
        0.04483709, -0.02792224, -0.05140734, -0.02803271,  0.02491739,
        0.05996722, -0.03144883], dtype=float32)

In [160]:
def get_top_n(dotted, n=10):
    n = min(n, dotted.shape[0])
    top_n = np.argpartition(-dotted, n-1)[:n]
    scores = dotted[top_n]
    return sorted(zip(top_n, scores),
                  key=lambda scored: scored[1],
                  reverse=True)

def nn(query_vector,
       matrix,
       n=10):
    """ nth nearest neighbors as array
        with indices of nearest neighbors"""
    dotted = np.dot(matrix, query_vector)
    # print(f">> Dot - {perf_counter() - start}")
    top_n = get_top_n(dotted, n=n)
    # print(f">> Tpn - {perf_counter() - start}")
    return top_n

nearest_neighbors_rambo = nn(query_embeddings['rambo'], overview_use, 10)

In [164]:
def keys(top):
    return [tp[0] for tp in top]

tmdb.iloc[keys(nearest_neighbors_rambo), :][['title', 'tmdb_id', 'overview']]

,title,tmdb_id,overview
16534,Rambo,7555,When governments fail to act on behalf of capt...
50102,First Blood,1368,When former Green Beret John Rambo is harassed...
50104,Rambo III,1370,"Combat has taken its toll on Rambo, but he's f..."
50103,Rambo: First Blood Part II,1369,John Rambo is released from prison by the gove...
26114,Missing in Action,15379,American servicemen are still being held capti...
12937,The Bunker,261492,"""The Bunker,"" is a fictional war torn valor st..."
19200,Thou Shalt Not Kill... Except,40042,"Vietnam, 1969. War is Hell. For Marine Sergea..."
35510,Some Kind of Hero,37607,A Vietnam vet returns home from a prisoner of ...
36563,Phantom Raiders,110997,Deep within the steaming tropical jungles of V...
50603,The Soldier,298073,The Soldier tells us about the military operat...

In [158]:
judgments[judgments['keywords'] == 'rambo']

,uid,qid,keywords,doc_id,grade,features,grade_scaled,weight
0,17555,1,rambo,7555,4,"[11.657399, 10.083591]",1.00,1.00
1,11370,1,rambo,1370,3,"[9.456276, 13.265001]",0.75,0.75
2,11369,1,rambo,1369,3,"[6.036743, 11.113943]",0.75,0.75
3,113258,1,rambo,13258,2,"[0.0, 6.8695450000000005]",0.50,0.50
4,11368,1,rambo,1368,4,"[0.0, 11.113943]",1.00,1.00
5,131362,1,rambo,31362,1,"[0.0, 7.8627386]",0.25,0.25
6,161410,1,rambo,61410,1,"[0.0, 4.563677]",0.25,0.25
7,1319074,1,rambo,319074,0,"[0.0, 0.0]",0.00,0.00
8,110296,1,rambo,10296,0,"[0.0, 0.0]",0.00,0.00
9,135868,1,rambo,35868,0,"[0.0, 0.0]",0.00,0.00
10,1131457,1,rambo,131457,0,"[0.0, 0.0]",0.00,0.00
11,194794,1,rambo,94794,0,"[0.0, 0.0]",0.00,0.00
12,1169869,1,rambo,169869,0,"[0.0, 0.0]",0.00,0.00
13,134561,1,rambo,34561,0,"[0.0, 0.0]",0.00,0.00
14,113763,1,rambo,13763,0,"[0.0, 0.0]",0.00,0.00
15,162414,1,rambo,62414,0,"[0.0, 0.0]",0.00,0.00
16,121989,1,rambo,21989,0,"[0.0, 0.0]",0.00,0.00
17,1210577,1,rambo,210577,0,"[0.0, 0.0]",0.00,0.00
18,156949,1,rambo,56949,0,"[0.0, 0.0]",0.00,0.00
19,179401,1,rambo,79401,0,"[0.0, 0.0]",0.00,0.00
20,1117942,1,rambo,117942,0,"[0.0, 0.0]",0.00,0.00
21,1223195,1,rambo,223195,0,"[0.0, 0.0]",0.00,0.00
22,170,1,rambo,70,0,"[0.0, 0.0]",0.00,0.00
23,122777,1,rambo,22777,0,"[0.0, 0.0]",0.00,0.00
24,143189,1,rambo,43189,0,"[0.0, 0.0]",0.00,0.00
25,1318,1,rambo,318,0,"[0.0, 0.0]",0.00,0.00
26,139829,1,rambo,39829,0,"[0.0, 0.0]",0.00,0.00
27,1208982,1,rambo,208982,1,"[0.0, 0.0]",0.25,0.25
28,1250761,1,rambo,250761,1,"[0.0, 0.0]",0.25,0.25
29,1801,1,rambo,801,1,"[0.0, 0.0]",0.25,0.25
30,178999,1,rambo,78999,1,"[0.0, 0.0]",0.25,0.25
31,1600,1,rambo,600,1,"[0.0, 0.0]",0.25,0.25
32,126397,1,rambo,26397,0,"[0.0, 0.0]",0.00,0.00
33,145046,1,rambo,45046,0,"[0.0, 0.0]",0.00,0.00
34,1271110,1,rambo,271110,0,"[0.0, 0.0]",0.00,0.00
35,159401,1,rambo,59401,0,"[0.0, 0.0]",0.00,0.00
36,179773,1,rambo,79773,0,"[0.0, 0.0]",0.00,0.00
37,1321,1,rambo,321,0,"[0.0, 0.0]",0.00,0.00
38,111553,1,rambo,11553,0,"[0.0, 0.0]",0.00,0.00
39,132221,1,rambo,32221,0,"[0.0, 0.0]",0.00,0.00
40,140082,1,rambo,40082,0,"[0.0, 0.0]",0.00,0.00